<!--登录-->
<div class="col-sm-12">
    <div class="panel panel-default">
        <h1 class="panel-heading">
            {{title}}
        </h1>

        <form action="" role="form" name="userform" class="form-horizontal" novalidate>
            <!--form表单提交,method要定为post,否则浏览器地址栏中会出现用户名和密码,因为默认是get-->
        <!--<form action="" method="post" role="form" name="userform" class="form-horizontal" ng-submit="login()" novalidate>-->
            <!--save()对应的控制器中有个方法来控制这个保存 novalidate去掉H5自带的判断-->

            <div class="panel-body clearfix">

                <!--利用ng-class加入判断,如果不符合规则,就套用has-error这个样式-->
                <div class="form-group row" ng-class="{'has-error':userform.username.$dirty && userform.username.$invalid}">
                    <label for="username" class="control-label col-sm-offset-2 col-sm-2 text-right">用户</label>
                    <div class="col-sm-4">
                        <span class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                        <input class="form-control" type="text" id="username" name="username" ng-model="user.username" placeholder="请输入中文" ng-pattern="/[\u4e00-\u9fa5]/" ng-required>
                            <!--绑定username到控制器中$scope的user变量中的username,双向绑定。
                            ng-pattern符合正则控制完全输入中文,ng-required表示必须-->
                            </span>
                    </div>
                    <!--出错才显示-->
                    <b class="help-block col-sm-2" ng-show="userform.username.$dirty && userform.username.$invalid">
                        <!--userform.username.$error错误对象的属性,来判断是否出错,required是要求必填,pattern是上面ng-pattern的判断,符合这个错误,该处就显示-->
                        <span class="text-danger" ng-show="userform.username.$error.required">请填写用户名</span>
                        <span class="text-danger" ng-show="userform.username.$error.pattern">请填写中文</span>
                    </b>
                </div>


                <!--密码-->
                <div class="form-group row" ng-class="{'haserror':userform.password.$dirty && userform.password.$invalid}">
                    <label for="password" class="control-label col-sm-offset-2 col-sm-2 text-right">密码</label>
                    <div class="col-sm-4">
                        <span class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                        <input class="form-control" type="text" id="password" name="password" ng-model="user.password" placeholder="请输入6到12位的密码" ng-minlength="6" ng-maxlength="12" ng-required>
                            </span>
                    </div>
                    <!--出错才显示-->
                    <b class="help-block col-sm-2" ng-show="userform.password.$dirty && userform.password.$invalid">
                        <span class="text-danger" ng-show="userform.password.$error.required">请填写密码</span>
                        <span class="text-danger" ng-show="userform.password.$error.minlength">至少6位</span>
                        <span class="text-danger" ng-show="userform.password.$error.maxlength">最大12位</span>
                    </b>
                </div>

            </div>
            <!--表格结束-->

            <!--提交按钮-->
            <div class="panel-footer clearfix">
                    <span class="col-sm-offset-5 col-sm-2">

                        <button type="button" ng-click="login()" class="btn btn-lg btn-primary " ng-disabled="userform.$invalid">登录</button>
                    </span>
            </div>
        </form>
    </div>

</div>